.appbackground{
    background-color: #b2cdb2;
}
h1{
    text-align: center;
    font-size:70px;
    font-weight: 100;
    font-family: Gill Sans;
}
Loading{
    position: absolute;
    margin-left: 700px;
    margin-right: 0;
    align-items: center;
}